h1{
    margin: 2em 0;
    text-align: center;
    border-bottom: 2px solid rgb(32, 63, 159);
    text-transform: uppercase;
    font-size: 2.2em;
}

ul
{
    width: 80%;
    margin: 0 10%;
    list-style-type: none;

    
}

ul li a
{
    font-size: 2em;
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
    /*color: rgb(32, 63, 159);
    border: 3px solid rgb(32, 63, 159);
    background-color: rgb(236, 239, 247);*/
    text-decoration: none;
}

ul li a:hover
{
    background-color: rgb(32, 63, 159);
    color: rgb(236, 239, 247);
}

form
{
    width: 80%;
    margin: 0 10%;
    font-size: 1.4em;
    padding: 2em 0;
}
form legend
{
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 1em;
}
form div
{
    width: 80%;
    margin: 1% 10%;
    padding: 0 1em;
}
form input
{
    width: 80%;
    float: left;
    margin: 1em 0;
}
form label
{
    width: 20%;
    float: left;
    margin: 1em 0;
}
form input[type="submit"]
{
    clear: both;
    width: 100%;
    background-color: rgb(32, 63, 159);
    border: 1px solid  rgb(32, 63, 159);
    color: rgb(236, 239, 247);
    border-radius: 2em;
    height: 2em;
}
form input[type="submit"]:hover
{
background-color: orangered;
border: 1px solid  orangered;
}
p
{
    font-size: 1.4em;
    text-align: center;
}

.sucesso
{
    background-color: green;
    color:white;
    font-size: 18px;
    padding: 0.5em 0;
    text-align: center;
}
.erro
{
    background-color: rgb(177, 2, 2);
    color:white;
    font-size: 18px;
    padding: 0.5em 0;
    text-align: center;
}
table
{
    width: 80%;
    margin: 0 10%;
    border-collapse:collapse;
}

table th, table td
{
    font-size: 1.4em;
    border: 1px solid black;

}
table td img
{
    display: inline-block;
    width: 80%;
    max-width: 200px;
    text-align: center;
}

form button
{
    width: 100%;
    background-color: rgb(32, 63, 159);
    border: 1px solid  rgb(32, 63, 159);
    color: rgb(236, 239, 247);
    border-radius: 2em;
    height: 2em;
}

form button:hover
{
background-color: orangered;
border: 1px solid  orangered;
}

@media (max-width: 767px) {
    ul li a {
        width: 100%;
        box-sizing: border-box;
    }

    form input,
    form label {
        width: 100%;
    }
}